/public/fonts
/public/build
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

# unignore
!public/build/.gitkeep

# frontend
resources/assets/js/node_modules
resources/assets/js/coverage
resources/assets/js/build

resources/assets/js/npm-debug.log*
resources/assets/js/yarn-debug.log*
resources/assets/js/yarn-error.log*

# misc 
.DS_Store